asgiref==3.8.1
black==24.10.0
click==8.1.7
crispy-bootstrap5==2024.10
Django==5.1.2
django-crispy-forms==2.3
django-social-share==2.3.0
Faker==30.8.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
python-dateutil==2.9.0.post0
ruff==0.7.2
six==1.16.0
sqlparse==0.5.1
tomli==2.0.2
typing_extensions==4.12.2
